img {
	max-width: 80%;
	max-height: 100%;
}

.click-count-hidden {
	visibility: hidden;
}

.click-count-shown {
	visibility: visible;
}

.hidden-form {
	visibility: hidden;
}

.shown-form {
	visibility: visible;
}

.cat-list {
	display: flex;
	flex-direction: row;
	list-style: none;
}